.test {
    margin: 20px;
}
.gutter-row {
    padding: 20px 0;
}
.ant-card {
    cursor: pointer;
}

.ant-card:hover .ant-card-head {
    background-color: aliceblue;
}

.ant-card:hover  {
    border-color: #40a9ff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(88, 174, 255, 0.2);
    box-shadow: 0 0 0 2px rgba(88, 174, 255, 0.2);
    border-right-width: 1px !important;
}

.vertical-center-modal {
    text-align: center;
    white-space: nowrap;
  }
  
  .vertical-center-modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
  
  .vertical-center-modal .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left;
  }

